h1 {
    font-family:monospace;
}




p {
    font-family:sans-serif;
}

h2 {
    font-family:cursive;
    font-style:italic;
}
ul
{
list-style-type:none;
margin:0;
padding:0;
overflow:hidden;
}
li
{
float:left;
font-family:sans-serif;
}
#hi
{
display:block;
width:60px;
background-color:#dddddd;
}